# Q1

In [2]:
# Q1. 홍길동 씨의 평균 점수 

# ans:
avg = (80+75+55)/3
avg # 70.0

70.0

# Q2

In [6]:
# Q2. 자연수 13이 홀수인지 짝수인지 판별

# //; 몫
# %; 나머지

# ans:
# 2로 나눴을 때 나머지가 0이면 짝수, 1이면 홀수
13%2 # 나머지가 1이므로 홀수

6

# Q3

In [1]:
# Q3. 홍길동 씨의 주민등록번호를 연월일(YYMMDD) 부분과 그 뒤 숫자 부분으로 나누기
# hint; 문자열 슬라이싱 

pin = "881120-1068234"

yymmdd = pin[:6]
num = pin[7:]

# ans:
print(yymmdd)
print(num)

881120
1068234

# Q4

In [12]:
# Q4. 주민등록번호에서 성별을 나타내는 숫자를 출력
# hint; 문자열 인덱싱

pin = "881120-1068234"

# ans:
gender = pin[7]
gender # 1이면 남자, 2면 여자; 1이므로 남자

'1'

# Q5

In [13]:
# Q5. 문자열 a:b:c:d를 a#b#c#d로 바꾸기
# hint; replace 함수

a = "a:b:c:d"

# ans:
a.replace(":","#")

'a#b#c#d'

# Q6

In [71]:
# Q6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들기
# hint; 리스트 내장함수

li = [1,3,5,4,2]

# ans:
sorted(li, reverse=True)

### or ###

# 먼저 리스트를 오름차순으로 정렬하고 뒤집어야 함

li.sort() # 오름차순 정렬
li

# ans:
li.reverse() # 내림차순 정렬
li

[5, 4, 3, 2, 1]

# Q7

In [38]:
# Q7. ['Life','is','too','short'] 리스트를 문자열로 만들어 출력하기
# hint; join 함수

li = ['Life','is','too','short']

# ans:
ans = li[0]+li[1]+li[2]+li[3]
print(ans)

#### or ###

# "".join(); 괄호 안의 리스트의 요소를 따옴표 안의 기호로 연결해줌

li = ['Life','is','too','short']
' '.join(li)

Lifeistooshort

'Life is too short'

# Q8

In [43]:
# Q8. (1,2,3) 튜플에 4를 추가하여 (1,2,3,4)를 만들기
# hint; 더하기(+) 이용

# 튜플은 수정 불가능하므로 append 같은 내장함수 사용 못 함

# ans:
t1 = (1,2,3) 
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

# Q9

In [40]:
# Q9. 다음 딕셔너리에 대해서 오류가 발생하는 경우와 그 이유

a = dict()
a # 빈 딕셔너리

# 1. 정상; 사전에 'name' 키에 'python' 값 추가
a['name'] = 'python'

# 2. 정상; 사전에 'a' 하나를 가지는 튜플에 'python' 값 추가
# 이때 튜플 원소가 하나이므로 콤마(,)와 함께 쓰임
# 또한 키는 중복되면 최신의 키-값 쌍으로 갱신되지만 값은 중복 상관없음
a[('a',)] = 'python' 

# ans:
# 3. 오류; 키에는 리스트 자료형이 올 수 없음(리스트는 수정가능하므로)
a[[1]] = 'python'

# 4. 정상; 사전에 '250' 키에 'pythoon' 값 추가
a[250] = 'python'

# Q10

In [49]:
# Q10. 딕셔너리 a에 'B'에 해당되는 값 추출하기
# hint; pop 함수

a = {'A':90, 'B':80, 'C':70}

# ans:
a['B']

### or ###

a.pop('B')

80

# Q11

In [50]:
# Q11. a 리스트에서 중복 숫자 제거
# hint; 집합 자료형의 중복 없음 특징 이용

a = [1,1,1,2,2,3,3,3,4,4,5]

# ans:
aset = set(a) # set(); 괄호 안의 리스트를 집합 자료형으로 바꿔줌
b = list(aset) # 집합자료형을 다시 리스트로 변환; 중복 원소가 제거된 리스트

{1, 2, 3, 4, 5}

# Q12

In [51]:
# Q12. a, b 변수를 동시에 선언한 후 a의 두 번째 요소값을 변경할 때 b값과 이유

a = b = [1,2,3]
a[1] = 4
print(b)

# ans:
# b도 a와 마찬가지로 [1,4,3]이 되었다.
# a와 b는 완전히 동일한 메모리 주소를 가지기 때문이다.(= 같은 객체를 가리킴) 
# 즉, a와 b가 나타내는 객체(=자료형)가 같으므로 a가 바뀌면 b도 바뀌게 된다.

[1, 4, 3]