# 1. 숫자형

In [4]:
### 정수형 ###

a = 123
a = -178
a = 0

In [21]:
#### 실수형 ###

a = 1.2
a = -3.45

# e or E; 컴퓨터식 지수 표현 방식 

a = 4.24E10 # 4.24*10^10
a = 4.24e-10 # 4.24*10^(-10)

In [8]:
### 8진수와 16진수 ###

# 8진수; 0o or 0O로 시작(숫자 0 + 알파벳 o 조합)

a = 0o177
b = 0O715

# 16진수; 0x or 0X로 시작(숫자0 + 알파벳 x 조합)

a = 0x8ff
b = 0XABC

# 잘 안 씀

In [20]:
### 사칙연산 ###

a = 3
b = 4

a+b # 더하기
a-b # 빼기
a*b # 곱하기
a/b # 나누기

0.75

In [19]:
### 연산자 ###

a = 7
b = 4

a**b # **; 제곱(*)
a%b # %; 나머지 반환(*)
a//b # //; 몫 반환(*)

1

# 2. 문자열 자료형

In [22]:
### 문자열 만들기 ###

# 1. 큰따옴표 양쪽
"Hello world!"

# 2. 작은따옴표 양쪽
'Hello world!'

#3. 큰따옴표 3개 연속 
"""Hello world!"""

#4. 작은따옴표 3개 연속
'''Hello world!'''

'Hello world'

In [23]:
### 문자열 안에 따옴표를 포함하고 싶을 때 ###

# 1. 작은 따옴표 포함; 큰따옴표로 둘러싸기
"I'm hungry."

# 2. 큰 따옴표 포함; 작은따옴표로 둘러싸기 
'"Python is very easy." he says.'

# 3. 백슬래시(\)를 따옴표 앞에 사용
"Python\'s favorite food is perl"

"Python's favorite food is perl"

In [34]:
### 여러 줄의 문자열을 작성하고 싶을 때 ###

# 1. 이스케이프 코드 '\n' 삽입
ex = "Life is too short\nYou need python"

# 2. 연속 3개의 따옴표 사용
ex = """Life is too short
You need python
"""

print(ex)

Life is too short
You need python

In [35]:
### 이스케이프 코드 ###

# 1. \n: 문자열 안에서 줄을 바꿀 때(*)
# 2. \t: 문자열 사이에 탭 간격을 줄 때(*)
# 3. \\: 문자 \를 그대로 표현할 때(*)
# 4. \': 문자 '를 그대로 표현할 때(*)
# 5. \": 문자 "를 그대로 표현할 때(*)
# 6. \r: 캐리지 리턴(줄 바꿈, 현재 커서를 맨 앞으로 이동)
# 7. \f: 폼 피드(줄 바꿈, 현재 커서를 다음 줄로 이동)
# 8. \a: 벨 소리(출력할 때 PC에서 삑소리가 남)
# 9. \b: 백 스페이스
# 10. \000: 널 문자

In [4]:
### 문자열 연산 ###

# 문자열 더하기
head = "Python"
tail = " is fun!"
head+tail

# 문자열 곱하기
a = "python"
a*2

# 문자열 곱하기 응용

print("="*50)
print("My Program")
print("="*50)

# 문자열 길이 구하기

a = "Life is too short"
len(a)

==================================================
My Program
==================================================

17

In [7]:
### 문자열 인덱싱 ###

# 파이썬은 0부터 숫자를 센다(*)

a = "Life is too short,You need python"

a[3] # 4번째 문자 = 'e'
a[0] # 1번째 문제 = 'L'
a[12] # 13번째 문자 = 's'

a[-0] # a[-0] = a[0] = 1번째 문자 = 'L'
a[-1] # 뒤에서 1번째 문자 = 'n'
a[-2] # 뒤에서 2번째 문자 = 'o'
a[-5] # 뒤에서 5번째 문자 = 'y'

'n'

In [11]:
### 문자열 슬라이싱 ###

# 파이썬에서 [a:b]은 인덱스 a부터 (b-1)까지를 의미(*)

a = "Life is too short,You need python"

# 1. 가장 단순한 방법
b = a[0] + a[1] + a[2] + a[3] 

#2. 슬라이싱 기법
a[0:4] # 인덱스 0부터 3까지 = 1번째 문자부터 4번째 문자까지

#3. 슬라이싱 예
a[0:2] # 인덱스 0-1
a[5:7] # 인덱스 5-6
a[12:17] # 인덱스 12-16

a[19:] # 인덱스 19부터 끝까지
a[:17] # 처음부터 인덱스 16까지
a[:] # 처음부터 끝까지

a[19:-7] # 인덱스 19부터 인덱스 -8까지(*)

# 4. 슬라이싱으로 문자열 나누기
a = "20010331Rainy"

date = a[:8]
weather = a[8:]

year = a[:4]
day = a[4:8]
weather = a[8:]

In [15]:
### 문자열 바꾸기 ###

# 문자열 수정 불가능. 즉, a[1] = 'y' 오류(*)
# 문자열 바꾸고 싶으면 슬라이싱 이용

a = "Pithon"
a[:1] # 'P'
a[2:] # 'thon'
a[:1]+'y'+a[2:] # 'Python'

'Python'

In [20]:
### 문자열 포맷팅 ###

# 문자열 포맷팅; 문자열 안에 어떤 값을 삽입하는 방법

# 1. 숫자 바로 대입
"I eat %d apples." %3 # %d; 정수

# 2. 문자열 바로 대입
"I eat %s apples." % "five" # %s; 문자열 

# 3. 변수로 대입
number = 3
"I eat %d apples." %number 

# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day) # 튜플 형식 이용

'I ate 10 apples. so I was sick for three days.'

In [27]:
### 문자열 포맷 코드 ###

# %s; 문자열(*)
# %c; 문자 1개
# %d; 정수(*)
# %f; 부동소수(*)
# %o; 8진수
# %x; 16진수
# %%; 문자 '%'자체

# %s에는 어떤 형태의 값이든 넣을 수 있음; 숫자도 자동으로 문자열로 인식
"I have %s apples" %3
"rate is %s" %3.234

# %d와 %를 같이 쓸 때는 %%를 씀
"Error is %d%%" %98 # 98%
"Error is %s" %"98%" # 아니면 %s 이용

'Error is 98%'

In [29]:
### 포맷 코드와 숫자 함께 사용(*) ###

# 디폴트 오른쪽 정렬

# 1. 정렬과 공백
"%10s" %"hi" # 전체 10칸 중 문자열을 오른쪽 정렬해서 입력
"%-10sjane" %"hi" # 전체 10칸 중 문자열은 왼쪽 정렬해서 입력

#2. 소수점 표현
"%0.4f" %3.42134234 # '.'은 소수점 포인트. 소수점 4번째 자리까지 표현
"%10.4f" %3.42134234 # 전체 10칸 중 소수점 4번째 자리까지 표현하고 오른쪽 정렬

'3.4213'

In [45]:
### format 함수를 사용한 포맷팅 ###

# {}자리에 포맷팅한 값이 들어감; 이때 인덱스 or 이름을 이용

# 1. 숫자 바로 대입
"I ate {0} apples.".format(3)

# 2. 문자열 바로 대입
"I ate {0} apples.".format("five")

# 3. 변수로 대입
number = 5
"I ate {0} apples.".format(number)

# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

# 5. 이름으로 넣기
"I ate {n} apples. so I was sick for {day} days.".format(n=50,day=7)

# 6. 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(500,day=10)

# 7. 왼쪽 정렬
"{0:<10}".format("Hi") # 전체 10칸 중 왼쪽 정렬

# 8. 오른쪽 정렬
"{0:>10}".format("Hi") # 전체 10칸 중 오른쪽 정렬

# 9. 가운데 정렬
"{0:^10}".format("Hi") # 전체 10칸 중 가운데 정렬

# 10. 공백 채우기
"{0:=^10}".format("Hi") # 전체 10칸 중 가운데 정렬, 빈칸은 '='로 채움
"{0:!<10}".format("Hi") # 전체 10칸 중 왼쪽 정렬, 빈칸은 '!'로 채움

# 11. 소수점 표현하기
y = 3.141592
"{0:0.4f}".format(y) # 소수점 4번째 자리까지 표현
"{0:10.4f}".format(y) # 전체 10칸 중 소수점 4번째 자리까지 표현 후 오른쪽 정렬

# 12. 문자 '{' or '}' 표현하기
"I want to write {{it}}".format() # {{}}; 중괄호를 연속 2개 사용하면 됨

'I want to write {it}'

In [62]:
### 문자열 관련 함수 ###

# 1. 문자 개수 세기; count
a = "hobby"
a.count('b')

# 2. 문자 위치 알려주기1; find
a = "Python is the best choice."
a.find("b") # 문자가 처음으로 나온 위치 반환
a.find("z") # 못 찾으면 -1 반환

# 3. 문자 위치 알려주기2; index
a = "Life is too short."
a.index('t') # 문자가 처음으로 나온 위치 반환
a.index('z') # 못 찾으면 오류 발생

# 4. 문자열 삽입; join(*)
",".join('abcd') # 리스트나 튜플도 사용 가능 

# 5. 소문자를 대문자로 바꾸기; upper
a = "hi"
a.upper()

# 6. 대문자를 소문자로 바꾸기; lower
a = "HI"
a.lower()

# 7. 왼쪽 공백 지우기; lstrip
a = " hi "
a.lstrip()

# 8. 오른쪽 공백 지우기; rstrip
a = " hi "
a.rstrip()

# 9. 양쪽 공백 지우기; strip
a = " hi "
a.strip()

# 10. 문자열 바꾸기; replace
a = "Life is too short"
a.replace("Life", "Your leg")

# 11. 문자열 쪼개기; split(*)
a = "Life is too short"
a.split() # 공백을 기준으로 문자열 쪼개기
b = "a:b:c:d"
b.split(":") # 지정자 ":"를 기준으로 문자열 쪼개기

['a', 'b', 'c', 'd']

# 3. 리스트 자료형

In [1]:
### 리스트 만들기 ###

# 리스트; []로 묶인 요소들 

a = [] # or a = list(); 빈 리스트
b = [1,2,3] # 숫자 리스트
c = ['Life','is','too','short'] # 문자열 리스트
d = [1,2,'Life','is'] # 혼합 리스트
e = [1,2,['Life','is']] # 리스트 안에 리스트

In [11]:
### 리스트 인덱싱 ###

# 기본 예제
a = [1,2,3]

a[0] # 1
a[0]+a[2] # 1+3=4
a[-1] # 3

# 중첩 리스트 예제
a = [1,2,3,['a','b','c']]

a[0] # 1
a[-1] # ['a','b','c']
a[3] # ['a','b','c']

a[3][0] # 인덱스 3의 첫 번째 원소 = 'a'
a[-1][-1] # 'c'

# 삼중 리스트 예제
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[-1][-1][0] # 'Life'

'Life'

In [15]:
### 리스트 슬라이싱 ###

# 기본 예제
a = [1,2,3,4,5]
a[0:2] # [1,2]

b = a[:2] # [1,2]
c = a[2:] # [3,4,5]

# 중첩 리스트 예제
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a [2:5] # [3,['a','b','c'],4]
a[3][:2] # ['a','b']

['a', 'b']

In [18]:
### 리스트 연산 ###

# 더하기
a = [1,2,3]
b = [4,5,6]
a+b # [1,2,3,4,5,6]

# 곱하기
a = [1,2,3]
a*3 # [1,2,3,1,2,3,1,2,3]

# 길이 구하기
a = [1,2,3]
len(a) # 3

# 리스트 연산 오류
a = [1,2,3]
a[2] + 'hi' # 오류; 숫자와 문자열은 연산 불가능
str(a[2]) + 'hi' # 3hi

3

In [20]:
### 리스트 수정 및 삭제 ###

# 리스트 요소 수정
a = [1,2,3]
a[2] = 4
a # 리스트는 수정 가능; 문자열은 불가능

# 리스트 요소 삭제 

# del a[x]; a의 x번째 요소를 삭제하는 파이썬 내장함수

a = [1,2,3]

del a[1] 
a # [1,3]

del a[2:]
a # [1,2]

[1, 3]

In [43]:
### 리스트 관련 함수 ###

# 리스트에 요소 추가; append
a = [1,2,3]

a.append(4)
a # [1,2,3,4]

a.append([5,6])
a # [1,2,3,4,[5,6]]

# 리스트 정렬; sort
a = [1,4,3,2]
a.sort() 
a # [1,2,3,4]

a = ['b','c','a','d']
a.sort()
a # ['a','b','c','d']

# 리스트 뒤집기(정렬x); reverse
a = ['a','c','b']
a.reverse()
a # ['b','c','a']

# 리스트 위치 반환; index
a = [1,2,3]
a.index(3) # 2
a.index(0) # 오류

# 리스트 요소 삽입; insert
a = [1,2,3]
a.insert(0,4) # 원하는 위치에 원하는 원소 삽입
a # [4,1,2,3] 
a.insert(3,5)
a # [4,1,2,5,3]

# 리스트 요소 제거; remove
a = [1,2,3,1,2,3]
a.remove(3) # 첫 번째로 나오는 요소 삭제
a # [1,2,1,2,3]
a.remove(3)
a #[1,2,1,2]

# 리스트 요소 끄집어내기; pop
a = [1,2,3]
b = a.pop() # 맨 마지막 원소 끄집어내기
a # [1,2]
b # 3

a = [1,2,3]
b = a.pop(1) # 인덱스 1 원소 끄집어내기
a # [1,3]
b # 2

# 리스트에 포함된 요소 개수 세기; count
a = [1,2,3,1]
a.count(1) # 2 

# 리스트 확장; extend
a = [1,2,3]
a.extend([4,5]) # 리스트만 가능
a # [1,2,3,4,5]; cf. a.append([4,5]) -> [1,2,3,[4,5]]

b = [6,7]
a.extend(b)
a # [1,2,3,4,5,6,7]

[1, 2, 3, 4, 5, 6, 7]

# 4. 튜플 자료형

In [47]:
### 튜플 만들기 ###

# 튜플; ()로 둘러싸인 요소들. 리스트와 비슷하지만 수정 불가능

t1 = () # 빈 튜플; or t1 = tuple()
t2 = (1,) # 튜플의 요소가 1개일 때는 반드시 콤마를 붙여야 함
t3 = (1,2,3) # 가장 기본 형태
t4 = 1,2,3 # 괄호 생략 가능
t5 = ('a','b',('ab','cd'))

In [49]:
### 튜플 수정 및 삭제 ###

# 튜플 요솟값 삭제
t1 = (1,2,'a','b')
del t1[0] # 오류; 튜플은 수정 불가능 

# 튜플 요솟값 변경
t1 = (1,2,'a','b')
t1[0] = 'c' # 오류; 튜플은 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [54]:
### 튜플 다루기 ###

# 인덱싱
t1 = (1,2,'a','b')
t1[0] # 1
t1[3] # 'b'

# 슬라이싱
t1 = (1,2,'a','b')
t1[1:] # (2,'a','b')

# 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t1+t2 # (1,2,'a','b',3,4)

# 곱하기
t2 = (3,4)
t2*3 # (3,4,3,4,3,4)

# 길이 구하기
t1 = (1,2,'a','b')
len(t1) # 4

4

# 5. 딕셔너리 자료형

In [56]:
### 딕셔너리 만들기 ###

# 딕셔너리; {}로 둘러싸인 키:값 쌍. 키는 수정 불가능, 값은 수정 가능
# 딕셔너리의 가장 큰 특징은 인덱스 대신 '키'를 이용해 '값'을 얻음

a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
b = {1:'hi', 'a':[1,2,3]}

In [60]:
### 딕셔너리 쌍 추가 및 삭제하기 ###

# 딕셔너리 쌍 추가
a = {1:'a'}

a[2] = 'b' # a[2]는 인덱스가 아님. 2라는 키에 'b'라는 값의 쌍을 추가
a # {1:'a',2:'b'}

a['name'] = 'pey' # 'name'이라는 키에 'pey'라는 값의 쌍을 추가
a # {1:'a',2:'b','name':'pey'}

a[3] = [1,2,3] # 3이라는 키에 [1,2,3]라는 값의 쌍을 추가
a # {1:'a',2:'b','name':'pey',3:[1,2,3]}

# 딕셔너리 요소 삭제
del a[1] # 1이라는 키를 가지는 키:값 쌍 제거
a # {2:'b','name':'pey',3:[1,2,3]}

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [66]:
### 딕셔너리 사용 방법 ###

# Key를 사용해 Value 얻기
grade = {'pey':10,'julliet':99}
grade['pey'] # 10
grade['julliet'] # 99

a = {1:'a',2:'b'}
a[1] # 'a'
a[2] # 'b'

b = {'a':1, 'b':2}
b['a'] # 1
b['b'] # 2

dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name'] # 'pey'
dic['phone'] # '0119993323'
dic['birth'] # '1118'

# 주의사항

# 1. 키가 중복되면 하나를 제외한 나머지는 모두 무시
a = {1:'a',1:'b'}
a # {1:'b'}

# 2. 키에 리스트는 쓸 수 없음; 리스트는 수정가능하기 때문에(키는 변하면 안 됨)
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [81]:
### 딕셔너리 관련 함수 ###

# key 리스트 만들기; keys
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys() # 딕셔너리의 keys만 모은 객체
list(a.keys()) # 객체를 리스트 형식으로 변환

# value 리스트 만들기; values
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.values() # 딕셔너리의 values만 모은 객체
list(a.values()) # 객체를 리스트 형식으로 변환

# key-value 쌍 얻기; items
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.items() # 딕셔너리의 key-value 쌍을 모은 객체
list(a.items()) # 객체를 리스트 형식으로 변환

# key-value 쌍 모두 지우기; clear
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.clear()
a # {}

# key로 value 얻기; get
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name') # 'pey'
a.get('birth') # '1118'

print(a.get('nokey')) # 딕셔너리에 없는 키1; none 반환
print(a['nokey']) # 딕셔너리에 없는 키2; 오류

# key가 딕셔너리 안에 있는지 조사하기; in
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
'name' in a # True
'nokey' in a # False

None

False

# 6. 집합 자료형

In [82]:
### 집합 자료형 만들기 ###

# 집합 자료형; set()을 이용. 괄호 안에는 리스트나 문자열 

s1 = set([1,2,3]) # set(); 괄호 안에 리스트
s1 # {1,2,3}
s2 = set('Hello') # set(); 괄호 안에 문자열 
s2 # {'e','H','l','o'}

{1, 2, 3}

In [84]:
### 집합 자료형 특징 ###

# 1. 중복을 허용하지 않음
# 2. 순서가 없음; 따라서 인덱싱 불가능 

s1 = set([1,2,3])

l1 = list(s1)
l1 # [1,2,3]
l1[0] # 1

t1 = tuple(s1)
t1 # (1,2,3)
t1[0] # 1

1

In [89]:
### 집합 자료형의 활용 ###

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합; '&' or intersection
s1 & s2 # {4,5,6}
s1.intersection(s2) # {4,5,6}

# 합집합; '|' or union
s1 | s2 # {1,2,3,4,5,6,7,8,9}
s1.union(s2) # {1,2,3,4,5,6,7,8,9}

# 차집합; '-' or difference
s1 - s2 # {1,2,3}
s2 - s1 # {7,8,9}
s1.difference(s2) # {1,2,3}
s2.difference(s1) # {7,8,9}

{7, 8, 9}

In [92]:
### 집합 자료형 관련 함수 ###

# 값 1개 추가; add
s1 = set([1,2,3])
s1.add(4)
s1 # {1,2,3,4}

# 값 여러개 추가; update
s1 = set([1,2,3])
s1.update([4,5,6])
s1 # {1,2,3,4,5,6}

# 특정 값 제거; remove
s1 = set([1,2,3,4])
s1.remove(4)
s1 # {1,2,3}

{1, 2, 3}

# 7. 불 자료형

In [97]:
### 불 자료형이란 ###

# 불 자료형; 참(True)과 거짓(False)를 나타내는 자료형

a = True
b = False

type(a) # bool
type(b) # bool

1 == 1 # True
2 > 1 # True
2 < 1 # False

False

In [102]:
### 자료형의 참과 거짓(*) ###

# 거짓; 문자열,리스트,튜플,딕셔너리 등이 비어있음, 숫자0, None
# 참; 문자열,리스트,튜플,딕셔너리 등이 비어있지 않음, 0이 아닌 숫자

if [1,2,3]:
    print("참")
else:
    print("거짓")
# [1,2,3]이 참이면 "참"을 출력, 그렇지 않으면 "거짓"을 출력; 참

if []:
    print("참")
else: 
    print("거짓")
# []가 참이면 "참"을 출력, 그렇지 않으면 "거짓"을 출력; 거짓

참
거짓

In [107]:
### 불 연산 ###

bool("python") # True; 비어있지 않은 문자열
bool("") # False; 빈 문자열
bool(" ") # True; 공백도 문자로 인식

bool([1,2,3]) # True
bool([]) # False
bool(0) # False
bool(-1234) # True

True

# 8. 변수

In [108]:
### 변수 만들기 ###

# 변수 이름 = 변수에 저장할 값 

a = 1
b = 'python'
c = [1,2,3]

In [109]:
### 변수란 ###

a = [1,2,3] 

# 파이썬에서 변수는 곧 객체(=자료형)를 가리키는 것
# 먼저 [1,2,3]라는 값을 가지는 리스트 자료형(객체)이 자동으로 메모리에 생성 
# 변수 a는 [1,2,3] 리스트가 저장된 '메모리 주소'를 가리킴
id(a) # 변수 a가 가리키는 메모리 주소 확인

1389187904648

In [121]:
### 리스트 복사(*) ###

a = [1,2,3]
b = a

# 변수 b에 변수 a 대입; b와 a는 완전히 동일
# 다만, [1,2,3] 리스트를 참조하는 변수가 a 1개에서 b가 하나 추가되어 2개가 됨

id(a) == id(b) # True; 즉, a와 b가 완전히 동일함을 확인 
a is b # True; a와 b가 가리키는 객체가 동일

a[1] = 4
a # [1,4,3]
b # [1,4,3]; a 리스트의 요소를 바꿨는데 b도 함께 바뀜

# 변수 b를 생성할 때 변수 a의 값을 가져오면서 a와는 다른 주소를 가리키는 법 

# 1. [:]
a = [1,2,3]
b = a[:]
id(a) == id(b) # False
a[2] = 4
a # [1,2,4]
b # [1,2,3]; a 리스트의 요소를 바꿔도 b에는 영향 없음 

# 2. copy 모듈
from copy import copy
b = copy(a) # b = a[:]와 동일
b is a # False

False

In [123]:
### 변수를 만드는 여러가지 방법 ###

a, b = ('Kim','Dahee') # 튜플로 변수 생성
(a, b) = 'Kim', 'Dahee' # 튜플은 괄호 생략 가능 
[a,b] = ['Kim','Dahee'] # 리스트로 변수 생성
a = b = 'Kimdahee' # 여러 개의 변수에 같은 값 대입

a = 3
b = 5
a, b = b, a # a, b가 새로 지정됨 
a # 5
b # 3

3