# CH02-01 제어문

In [2]:
### 제어문 ###

myscore = input("성적은 ")
myscore = int(myscore) # input은 항상 str형이므로 

if myscore >= 80:
    print("잘했어요")
else:
    print("다음엔 더 열심히")

성적은 80
잘했어요

In [3]:
### 다중제어문 ###

if myscore >= 90:
    print("A")
elif myscore >=80:
    print("B")
else:
    print("C")

B

# Ch02-02 반복문

In [6]:
### 반복문 ###

cal = 0
for i in range(101): # 파이썬은 0부터 시작, 맨 끝 숫자는 제외
    cal += i
print(cal)

5050

In [7]:
### 리스트 이용 ###

test = [1,2,3,4]
for i in test:
    print(i)
    
for i in enumerate(test): # enumerate; 인덱스 확인이 필요할 때
    print(i) # 튜플 형식으로 반환

1
2
3
4
(0, 1)
(1, 2)
(2, 3)
(3, 4)

# Ch02-03 함수와 클래스

In [9]:
### 반환값이 없는 함수 ###

def avg(x,y):
    print((x+y)/2)
    
avg(4,5)

4.5

In [10]:
### 반환값이 있는 함수 ###

def avg1(x,y):
    return (x+y)/2

a = avg1(4,5)
print(a)

4.5

In [11]:
### 객체지향 클래스 ###

# 클래스; 함수들을 호출할 수 있음
# __init__; 초기값 세팅, self=자기 객체를 의미

# Ch02-04 데이터 구조 - 리스트(R에서의 벡터)

In [12]:
### R 데이터 구조 ###

# 같은 데이터형으로만 저장; 스칼라(Scala), 벡터(Vector), 행렬(Matrix), 배열(Array)
# 서로 다른 유형의 데이터형 저장 가능; *데이터프레임(Data frame), 리스트(List)

In [13]:
### Python 데이터 구조 ###

# 리스트(list), 튜플(tuple), 딕셔너리(dictionary), 집합(set)
# 벡터, 행렬, 배열 구분없이 리스트만 있음
# 배열을 사용하기 위해서는 Numpy의 arrary를 이용

# Ch02-05 Numpy - 배열(R에서의 행렬)

In [29]:
### 넘파이 ###

# Numpy; 리스트를 행과 열로 묶어서 배열로 행렬(배열)로 쓰고싶을 때
# 파이썬은 R과는 다르게 행렬, 배열의 개념이 없으므로 Numpy를 이용해서 자료를 다차원으로 만듦

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

1.118033988749895

In [31]:
### Python list 이용 ###

num1 = [1,2,3,4]
num2 = [5,6,7,8]
num = [num1, num2] 

print(num) # 리스트로 된 요소가 2개인 리스트
print(num1 + num2) # 우리가 원하는 대로 계산이 안 됨

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
### 넘파이 배열 ###

import numpy as np

num1 = np.array(num1)
num2 = np.array(num2)

num1 # array형태로 변환
num2 # array형태로 변환

In [32]:
num = np.array([num1, num2])
num # 배열로 만듦(R에서의 행렬)

# 리스트 하나는 열벡터
# R에서도 기본은 열벡터

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [33]:
num.shape # 2행 4열

# 리스트 하나는 열벡터지만
# numpy를 이용해 array형태로 만들면 
# *각각의 리스트가 행벡터로 인식됨

(2, 4)

In [28]:
### 넘파이 인덱싱 ###

# 배열의 인덱싱
num = np.array(num)
num[1,3] # [1]행의 [3]열 = 2번째 줄의 4번째 원소

# 배열 자르기
num3 = num[:2, :2] # [1]행의 [1]열까지 = 2번째 행의 2번째 원소까지  
num3

array([[1, 2],
       [5, 6]])

# Ch02-06 Pandas - 데이터프레임

In [35]:
### 데이터 가져오기(dataframe) ###

# 파일을 호출할 때는 pandas를 이용해 데이터프레임 구조로 불러옴
# 파일을 분석하다가 데이터구조가 numpy, list 등으로 변하면 다시 dataframe으로 변환

import pandas as pd

df = pd.read_csv('wage.csv') # 데이터를 가져오면 자동으로 데이터프레임으로 인식 
df.head() # 상위 5개의 데이터만 확인

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154

In [36]:
df = pd.DataFrame(df) # 중간에 데이터구조가 변하면 다시 dataframe으로 변환
df.head()

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154

In [37]:
df.shape # 3000행 11열

(3000, 11)

In [39]:
df.index # 인덱스(행번호) 확인; 0부터 3000까지 1씩 증가

RangeIndex(start=0, stop=3000, step=1)

In [41]:
df.columns # *열(변수명) 확인

Index(['year', 'age', 'maritl', 'race', 'education', 'region', 'jobclass',
       'health', 'health_ins', 'logwage', 'wage'],
      dtype='object')

In [ ]:
df.values # 행(관측값) 확인

In [42]:
### *중요* 판다스 인덱싱 ###

# 데이터프레임에서는 인덱싱하는 방법이 조금 다름 
# loc['문자'], iloc[숫자]

In [43]:
# dataframe에서 행 선택하기

df.iloc[5] # 숫자 하나 -> 행번호만 -> 6번째 행을 가져옴

year                        2008
age                           54
maritl                2. Married
race                    1. White
education        4. College Grad
region        2. Middle Atlantic
jobclass          2. Information
health            2. >=Very Good
health_ins                1. Yes
logwage                   4.8451
wage                     127.116
Name: 5, dtype: object

In [45]:
# dataframe에서 열 선택하기

df.iloc[:10,1] # [0]부터 [9]까지의 행, 2번째 열

0    18
1    24
2    45
3    43
4    50
5    54
6    44
7    30
8    41
9    52
Name: age, dtype: int64

In [50]:
# column 삭제

df = df.drop('df', axis=1) # column명을 알 때
df.head()